* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

header {
    margin: 44px 0 80px 76px;

}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    margin-right: 23px;
    cursor: pointer;
}

#button-login {
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 29px;
    cursor: pointer;
    border: none;
}

section {
    display: inline-block;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    width: 513px;
    height: 122px;
    line-height: 122px;
    color: #515151;
    margin-left: 86px;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    margin-left: 86px;
    margin-bottom: 32px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    margin-left: 86px;
    margin-bottom: 65px;
    width: 515px;
}

#button-explore {
    background: #ADFF00;
    border-radius: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    border: none;
    cursor: pointer;
    width: 239px;
    height: 64px;
    margin-left: 86px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}